<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Election Calculator</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-3 col-lg-offset-2">
            <form th:action="@{/register}" method="post" th:object="${elector}">
                <fieldset>
                    <h1>Register New User</h1>

                    <div th:if="${message}">
                        <div class="alert alert-danger">
                            <p th:each="msg : ${message}">
                                <medium th:text="${msg}"></medium>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="Username" required="true" autofocus="true" th:field="*{username}"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true" th:field="*{password}"/>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>


</body>
</html>
